.container {
    display: flex;
    justify-content: center;
}

.content {
    width: 80%;
}

.flex {
    display: flex;
}

.actionButton {
    margin-left: 10px;
}

.listItem {
    margin: 20px auto 20px auto;
}

.closeButton {
    position: absolute!important;
    margin: 3px 3px auto auto;
    right: 0;
}